.post-password-form {

	p:last-child {
		display: flex;
		flex-wrap: wrap;
		margin-left: -3px;
		margin-right: -3px;
	}

	label {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-grow: 50;
		margin: 5px 0;
		text-indent: 3px;

		input {
			flex-grow: 1;
			margin-left: 3px;
			margin-right: 3px;
		}
	}

	input[type="submit"] {
		@extend %btn;
		flex-grow: 1;
		margin: 5px 3px;
	}
}