#toTop {
	$size: 50px;

	position: fixed;
	bottom: 20px;
	z-index: 999;
	display: none;
	width: $size;
	height: $size;
	text-align: center;
	overflow: hidden;
	@include border-radius();

	.page-layout-framed & {
		bottom: $grid-gutter-width;
	}

	&:before{
		content: "\f143";
		@extend %material-design-icons;
		width: 100%;
		font-size: 24px;
		line-height: $size;
	}
	&:focus {
		outline: 0;
	}
	@include media-breakpoint-down(sm) {
		right: -999em !important;
	}
	@include media-breakpoint-up(md) {
		right: 20px;
	}
}